.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.forgot-password {
    width: 540px;
    height: 375px;
    background: #1C1F37;
    border-radius: 12px;
    box-shadow: 0 0 100px #830cf257;
    margin: 110px 0px;
}

.forgot-password-title {
    margin: 60px auto auto auto;
    width: 194px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.018em;
    color: #FFFFFF;
}

.forgot-password-text {
    width: 301px;
    height: 60px;
    text-align: center;
    margin: 16px auto auto auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.018em;
    color: #9DA1C1;
}

.forgot-password-input {
    width: 280px;
    height: 24px;
    background: #141627;
    border-radius: 35px;
    margin-top: 24px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.018em;
    color: #9DA1C1;
    padding: 2px 28px;
}

.forgot-password-button {
    width: 280px;
    height: 40px;
    margin-top: 30px;
    background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
    border-radius: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.018em;
    border: none;
}

.forgot-password-link {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.018em;
    text-decoration-line: underline;
}

.forgot-password-link a {

    color: #9DA1C1;
}

@media (max-width: 760px) {
    .forgot-password {
        width: 400px;
        top: 200px;
    }

    .small_footer {
        position: relative;
    }

}

@media (max-width: 460px) {
    .forgot-password {
        width: 300px;
    }

    .forgot-password-text {
        font-size: 10px;
        width: 250px;
    }

    .forgot-password-input {
        width: 250px;
    }

    .forgot-password-button {
        width: 260px;
    }
}