@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$Grey1 : #9DA1C1;
$pink :#DB44D1;
$violet :#810CF2;




@mixin flex_center($align: center, $justify: center,$dir:row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  background: #141627;
}

a {
  text-decoration: none;
  transition: 0.4s ease-in;

  &:active {
    transform: scale(0.96);
  }
}

ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.mr_16 {
  margin-right: 16px;
}

/* ---HEADER  */
header {
  nav.navbar {
    background: #101221;
    height: 100px;

    .navbar-brand {
      display: inline-block;
      width: 106px;
      margin-right: 19px !important;
    }
  }

  .nav_search {
    position: relative;
    background: #1C1F37;
    border-radius: 8px;
    overflow: hidden;

    input.form-control {
      width: 495px;
      height: 40px;
      border: none;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      letter-spacing: -0.018em;
      color: $Grey1 !important;
      margin-left: 24px;
      text-align: start;
      padding-left: 34px;

      &::placeholder {
        color: $Grey1;
        opacity: 1;
        font-size: 14px;
      }
    }

    button.btn {
      position: absolute;
      right: 0;
      background: #282C4B;
      border-radius: 0px 8px 8px 0px;
      width: 80px;
      height: 100%;
      color: $Grey1;
      font-weight: 400;
      font-size: 14px;
      // line-height: 32px;
      text-align: center;
      letter-spacing: -0.018em;

    }

    .btn_icon {
      position: absolute;
      left: 24px;
      top: 11px;
      width: 18px;
      display: flex;
      align-items: center;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $Grey1;
        font-weight: 700;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: -0.018em;

      }

      .nav-link.dropdown-toggle {
        position: relative;
        padding-right: 14px;

        &::after {
          position: absolute;
          content: "";
          width: 5px;
          height: 8px;
          background-image: url(../images/arrow_down.png);
          background-size: 100%;
          background-repeat: no-repeat;
          top: 55%;
          transform: translateY(-50%);
          border: none;
          right: 0;
        }
      }
    }

    .nav-item.dropdown {
      margin-right: 24px;
    }

    .dropdown_icon {
      width: 30px;
      margin-right: 8px;
    }
  }

  .navbar_link_icon {
    width: 16px;
    margin-right: 8px;
  }

  .navbar_link {
    text-decoration-line: underline;
    color: $Grey1;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.018em;
    margin-right: 40px;

    &:hover {
      color: $violet;

      img {
        filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(6192%) hue-rotate(273deg) brightness(92%) contrast(110%);
      }
    }
  }

  .navbar_bottom {
    background-color: #1C1F37;
    height: 60px;
  }

  .btn_ui {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 35px;
    background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
    border-radius: 8px;
    text-decoration: none;
    color: #101221;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.018em;

    .navbar_link_icon {
      width: 16px;
      margin-top: -2px;
    }
  }
}

.btn_secondary {
  background: #1C1F37;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.018em;
  color: $pink;
  padding: 11.5px 43px;
}

.btn_primary {
  @extend .btn_secondary;
  background-color: $pink;
  color: #101221;
  padding-inline: 26px;
}

// HOMEPAGE 
main.home {
  position: relative;
  padding-bottom: 240px;

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url(../images/shadow_01_right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 22%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-image: url(../images/main_pg_end_shadow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    z-index: -1;
  }
}

/* ---HERO  */
.hero {
  padding: 91px 0;
  padding-bottom: 108px;

  .hero_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.018em;
    color: #FFFFFF;
    margin-bottom: 19px;
  }

  .hero_contet {
    color: $Grey1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.018em;
    margin-bottom: 41px;
  }

  .hero_search_bar {
    padding: 30px 50px;
    background: #1C2036;
    border-radius: 500px;
    padding-bottom: 25px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 1%;
      top: -102%;
      z-index: -1;
      width: 299px;
      height: 299px;
      background-image: url(../images/cashback_hero.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .hero_search {
    width: 100%;
    height: 60px;
    border: 1px solid #810CF2;
    border-radius: 600px;
    margin-bottom: 8px;

    .form-control {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.018em;
      color: $pink;
      padding: 14px 30px;

      &::placeholder {
        color: $pink;
      }
    }
  }

  .hero_btn_icon {
    background: #810CF2;
    border-radius: 0px 600px 600px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;

    img {
      width: 25px;
    }
  }

  .tags {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    padding-inline: 28px;

    .tag {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: -0.018em;
      color: $Grey1;
      width: fit-content;
      padding-inline: 22px;
      height: 25px;
      background: #282C4B;
      border-radius: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



/* ---STORES  */


.stores {
  .stores_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.018em;
    color: #FFFFFF;

    .stores_title_icon {
      width: 32px;
      height: 32px;
      object-fit: contain;
      margin-right: 18px;
    }

    position: relative;
    margin-bottom: 80px;

    &::after {
      position: absolute;
      content: "";
      top: 16px;
      left: 50%;
      width: 2px;
      height: 60px;
      background: #C059F5;
      box-shadow: 2px 0px 8px rgba(197, 139, 227, 0.2);
      transform: rotate(90deg);
    }
  }
}

.home {
  .card {
    background: #1C1F37;
    border-radius: 12px;
    padding: 30px 30px 11px 30px;
    min-height: 175px;

    .card_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;

      .card_label {
        margin-top: 6px;
        width: 45px;
        height: 15px;
        background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
        border-radius: 600px;
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        letter-spacing: -0.018em;
        color: #141627;
      }

      .card_label_cashback {
        .card_per_cashback {
          font-weight: 700;
          font-size: 16px;
          text-align: right;
          letter-spacing: -0.018em;
          color: $pink;
        }

        .card_text_cashback {
          font-weight: 400;
          font-size: 10px;
          text-align: right;
          letter-spacing: -0.018em;
          color: #9DA1C1;
        }

      }
    }

    .card-body {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }

    .card_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      img {
        max-width: 120px;
      }
    }

    .card_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card_tags {
        font-weight: 400;
        font-size: 10px;
        letter-spacing: -0.018em;

        color: #9DA1C1;

        max-width: 138px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .card_btn {
        width: 80px;
        height: 25px;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: -0.018em;
        color: $Grey1;
        border: 1px solid $pink;
        border-radius: 600px;
        display: flex;
        align-items: center;
        text-align: start;

        img {
          width: 16px;
          margin-right: 8px;
          margin-left: 12px;
        }
      }
    }
  }

  .stores_cards {
    grid-gap: 8px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;

    .col-md-3 {
      padding: 0;
      flex: 0 0 24.5%;
      width: 24.5%;
      transition: 0.3s all;
    }

    &::before {
      position: absolute;
      content: "";
      left: 30%;
      top: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(75.96deg, #FFC83A 13.64%, #FF008A 46.53%, #6100FF 78.88%);
      filter: blur(160px);
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      right: 0%;
      top: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-0%, -50%);
      background: linear-gradient(289.74deg, #001AFF 15.37%, #6EE5C2 87.68%);
      transform: matrix(-0.96, 0.23, -0.29, -0.97, 0, 0);
      filter: blur(160px);
      border-radius: 50%;
      z-index: -1;
    }
  }

  .see_all_stores {
    background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
    border-radius: 67px;
    width: 340px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141627;

    img {
      width: 40px;
      margin-right: 8px;
    }
  }

}

/* ---ADS  */
.ads {
  margin-top: 96px;
  margin-bottom: 64px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    max-width: 770px;
    height: 109px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // background: rgba(255, 0, 0, 0.273);
    background-image: url(../images/shape_ady.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-position-y: 100%;
    z-index: -1;
    filter: blur(167.5px);
  }

  .ads_img {}

}

/* ---PROMO  */
.promo {
  position: relative;

  .promo_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -0.018em;
    color: #FFFFFF;
    margin-bottom: 37px;

    &_icon {
      width: 24px;
      margin-left: 4px;
    }
  }

  .slide_control {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #1C1F37;
    border-radius: 50%;
    opacity: 1;
    position: static;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-family: swiper-icons;
    font-size: 8px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }

  .swiper-button-next::after {
    color: #DB44D1;
  }

  .swiper-button-prev::after {
    color: #810CF2;
  }

  .slide_btn_content {
    background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
    border-radius: 67px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.018em;
    color: #141627;
    margin-left: 2px;
    margin-right: 8px;

  }


  .swiper {
    width: 100%;
    height: 100%;
  }



  .promo__slide {
    .swiper-slide {
      background: #1C1F37;
      border-radius: 12px;
      width: 304px;
      min-height: 330px;
      padding-inline: 30px;
      padding-bottom: 35px;
      padding-top: 70px;
      color: $Grey1;
      display: flex;
      flex-direction: column;
      justify-content: end;

      .promo__slide_img {
        width: 55%;
        margin: auto;
        margin-bottom: 35px;
      }

      .promo__slide_content {
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          max-width: 195px;
          letter-spacing: -0.018em;

          color: #9DA1C1;
          margin-bottom: 22px;

          span {
            font-weight: 700;
          }
        }
      }

      .promo__slide_brand_discount {
        margin-bottom: 1px;
        display: flex;
        align-items: center;

        .percentage {
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;

          /* identical to box height, or 100% */
          letter-spacing: -0.018em;

          /* New VIOLET */
          color: #810CF2;


        }

        .percentage_next_icon {
          width: 20px;
          margin-left: 10px;
          margin-right: 11px;
        }

        .brand_name {
          font-weight: 700;
          font-size: 16px;

          /* identical to box height, or 100% */
          letter-spacing: -0.018em;

          /* New PINK */
          color: #DB44D1;
        }
      }

      .promo__slide_brand_discount_small {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;

        /* identical to box height, or 160% */
        letter-spacing: -0.018em;

        color: #9DA1C1;
        margin-bottom: 16px;

        span {
          font-weight: 700;
        }

      }

      .slide_brand_discount_btn {
        min-width: 100%;
        height: 40px;
        background: linear-gradient(270deg, #DB44D1 0%, #B52CDF 41.98%, #810CF2 100%);
        border-radius: 67px;

        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.018em;
        color: #141627;
        display: flex;
        align-items: center;
        justify-content: center;


      }
    }
  }

}


// NEXT PAGE 
.mini_footer {
  height: 160px;
  width: 100%;
  background: #101221;
  padding: 48px 0px 28px;
  @include flex_center($dir:column);
}

.footer_oxy {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.018em;
  color: #9DA1C1;
  margin-bottom: 14px;
  span { font-weight: 700;}
}

.footer_rights {
  background: #9DA1C1;
  border-radius: 60px;
  width: 80px;
  height: 24px;
  @include flex_center;
}
.footer_reserved {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.018em;
  color: #9DA1C1;
  margin-bottom: 0;
}








@media (max-width: 1399px) {
  .home .stores_cards .col-md-3 {
    padding: 0;
    flex: 0 0 auto;
    width: 24%;
  }

  main.home::before {
    background-position-y: -10%;
  }
}

@media (max-width: 1199px) {
  .home .stores_cards .col-md-3 {
    padding: 0;
    flex: 0 0 auto;
    width: 32.5%;
  }

  header .nav_search input.form-control {
    width: 310px;
    margin-left: 22px;
    padding-left: 30px;
  }
}

@media (max-width: 991px) {

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    filter: brightness(0) saturate(100%) invert(62%) sepia(53%) saturate(7392%) hue-rotate(275deg) brightness(88%) contrast(94%) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .navbar_bottom {
    display: none;
  }

  .collapse {
    background: #141627;
    z-index: 999;
  }

  header .nav_search {
    margin-top: 20px;
  }

  header nav.navbar {
    height: 70px;
    padding-block: 8px !important;
  }

  header nav.navbar .navbar-brand {
    width: 85px;
  }

  header {
    .nav-item.mr_16 {
      margin-right: 8px;
      // margin-bottom: 28px;
    }

    .nav-item.dropdown {
      // margin-bottom: 8px;
      margin-right: 0;
    }

    .dropdown-menu.show {
      position: absolute;
    }

    .navbar-nav.ms-auto {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-block: 14px;
    }

    .navbar_bottom {
      background-color: #1C1F37;
      height: fit-content;
      padding-block: 9px !important;

      .btn_ui {
        margin-block: 8px;
      }
    }
  }

  .hero .hero_search_bar::before {
    position: absolute;
    content: "";
    right: 4%;
    top: -68%;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-image: url(../images/cashback_hero.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hero .hero_search_bar {
    padding: 30px 33px 20px 30px;
  }

  .hero {
    padding: 71px 0;
    padding-bottom: 85px;
  }

  .hero .hero_contet {
    br {
      display: none;
    }
  }

  .home .card {
    background: #1C1F37;
    border-radius: 12px;
    padding: 12px 13px 10px 13px;
    min-height: 175px;
  }
}

@media (max-width: 767px) {
  .home .stores_cards .col-md-3 {
    padding: 0;
    flex: 0 0 auto;
    width: 49%;
  }

  .stores .stores_title {
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 52px;
  }

  .hero .hero_search {
    height: 45px;
  }

  .ads {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .promo .promo_title {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  main.home {
    padding-bottom: 133px;
  }

  .slide_control {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .promo .slide_control {
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .promo .swiper {
    padding-inline: 30px;
  }

  .promo .promo__slide .swiper-slide {
    width: 90% !important;
  }

  section {
    .container {
      padding: 20px;
    }
  }

  .promo {
    .container {
      padding: 0px !important;

      .promo_title {
        padding: 20px;
      }
    }
  }

  body,
  .stores,
  .promo {
    overflow-x: hidden;
  }

  header .navbar-nav.ms-auto {
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    // padding-block: 14px;
  }

  header .nav-item.mr_16 {
    margin-right: 0px;
    margin-bottom: 28px;
  }

  header .navbar-nav .nav-item.dropdown {
    margin-right: 0;
    margin-bottom: 4px;
  }

}

@media (max-width: 500px) {
  .home .stores_cards .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
  }

  .hero .hero_title {
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 19px;
  }

  .hero .hero_contet {
    margin-bottom: 70px;
  }

  .hero {
    padding: 34px 0;
    padding-bottom: 45px;
  }

  .hero .hero_search_bar {
    padding: 22px 23px 20px 23px;
  }

  .hero .hero_btn_icon {
    width: 57px;
  }

  .hero .hero_btn_icon img {
    width: 18px;
  }

  .stores .stores_title .stores_title_icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .stores .stores_title {
    font-size: 5.5vw;
    line-height: 26px;
    margin-bottom: 50px;
  }

  .stores .stores_title::after {
    top: 7px;
  }

  .hero .tags {
    padding-inline: 0px;
  }

}